/* style tags of the webpage*/
#img1{
    width: 50px;
    height:60px;
}

header{
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    background-color: aqua;
    margin:0;
    height: 80px;
    position:fixed;
    width:100%
}
.topnav {
    background-color: red;
    width:100%;
    position:fixed;
    }
a{
    display:inline;
    padding: 5px;
    font-size: 30px;

}
label{
    padding: 10px;
    margin-top: 50px;
}
h4{
    float:right;
    
}
body{
    background-color: rgb(197, 191, 191);
}
#section1{
    width:30%;
}

#footer{
    background-color: darkslategrey;
    padding: 40px;
    text-align: center;
}
h4{
    align-content:flex-end;
    height: 40px;
    margin:0;
}
#ol2>li{
    display:inline;
}
#ol2{
    float:right;
    margin: 0;
}
#img3{
    height:40px;
    width:30px;
}
#img4{
    height:40px;
    width:30px;
}
#img5{
    height:40px;
    width:30px;
}
#img6{
    height:40px;
    width:30px;
}
#img7{
    height: 400px;
    width:400px;
}
#img8{
    height:400px;
    width:400px;
}
.flex-container {
       display: flex;
        background-color: DodgerBlue;
    }
    
    .flex-container > div
     {
        background-color: #f1f1f1;
            margin:5px;
            width: 33%;

       }
       h1{
           text-align: center;
       }  
